on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
name: Test
permissions:
  contents: read
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25.x, 1.26.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
    - if: matrix.os == 'windows-latest'
      run: |
        choco install mingw
    - name: Install staticcheck
      if: matrix.platform != 'windows-latest'
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
      shell: bash
    - name: Update PATH
      run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      shell: bash
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Fmt
      if: matrix.os != 'windows-latest'
      run: "diff <(gofmt -d .) <(printf '')"
      shell: bash
    - name: Staticcheck
      if: matrix.os != 'windows-latest'
      run: staticcheck ./...
    - name: Test
      run: go test -race ./libsass
